@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Roboto", sans-serif;
    margin: 2em;
    display: flex;
    justify-content: center;
}
.page {
    padding: 1in;
    width: 8.5in;
    min-height: 11in;
    filter: drop-shadow(0 0 4px #000);
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
}

#render {
    position: absolute;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.physics {
    margin: 0px;
    max-width: 8.5in;
    width: fit-content;
}