@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --blue: #79cbff;
  --pink: #ff0099;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Freeman", sans-serif;
}
p {
  text-align: justify;
}

.bold {
  font-weight: bold;
}
.justify {
  text-align: justify;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin: 1em;
  width: 80%;
  max-width: 64em;
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
}
.box {
  border: 0.25em dashed var(--blue);
  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
}
.pink {
  border: 0.25em dashed var(--pink);
}

.track-display {
  opacity: 0;
  transition: 100ms ease-in-out;
}
.track {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;
  box-shadow: 0 0 0.25em black;
}
.track > div {
  display: flex;
  align-items: center;
  gap: 1em;

  > div {
    display: flex;
    flex-direction: column;
  }
}
.track-timestamp { text-align: right; }
#track-image {
  width: 4em;
  aspect-ratio: 1;
}

.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}
#btn_launch {
  color: #aaa;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  user-select: none;
}

.hide {
  opacity: 0;
  cursor: unset !important;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
